@import 'variables.scss';
@import 'utils.scss';

.members-slider {
  .member-slide {
    @include overlay($color-secondary, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    .member-details {
      position: relative;
      max-width: 230px;
      padding: 25px 10px;
      border: 2px dashed rgba($color-gray, 0.3);
      text-align: center;
      color: white;
      z-index: 2;

      .title {
        font-size: 16px;
      }

      .name {
        font-size: 20px;
      }

      @include sm {
        padding: 85px 55px;
        max-width: 400px;

        .title {
          font-size: 26px;
        }

        .name {
          font-size: 46px;
        }
      }

      @include lg {
        max-width: initial;
        .title {
          font-size: 36px;
        }

        .name {
          font-size: 60px;
        }
      }
    }
  }
}
