@mixin hover-overlay($color, $initial-opacity: 0.7) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background-color: rgba($color, $initial-opacity);
    transition: background-color 0.3s cubic-bezier(.42, 0, .30, .68);
    z-index: 0;
    pointer-events: none;
    will-change: background-color;
  }

  &:hover::after {
    background-color: rgba($color, 0);
  }
}

@mixin icon-in-circle($diameter) {
  display: inline-block;
  width: $diameter;
  height: $diameter;
  line-height: $diameter;
  text-align: center;
  border-radius: 50%;
}