.slider-component {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  will-change: width;

  .slides {
    position: absolute;
    display: flex;
    height: inherit;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.4, 0.1,.24,1);
    will-change: width;

    .slide {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: inherit;
      will-change: transform, width;
    }
  }

  .arrow-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 80px;
    text-align: center;
    z-index: 1;
    cursor: pointer;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.hidden {
      display: none;
    }
  }
}
