@import 'utils.scss';

.slider-component {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .slides {
    position: absolute;
    display: flex;
    height: inherit;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.4, 0.1, 0.24, 1);

    .slide {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: inherit;
      overflow: hidden;
    }
  }

  .arrow-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 40px;
    text-align: center;
    z-index: 1;
    cursor: pointer;

    @include lg {
      width: 130px;
      font-size: 80px;
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.hidden {
      display: none;
    }
  }
}
